html{
  font-family: sans-serif;
}
h1 {
  font-size: 40px; 
  text-align: center; 
}
h2 {
   font-size: 30px;  
}
h3 {
   font-size: 20px;
}
body 
{
    background-color: darkslategrey;
    color: white;
}
a:link{
  color:white;
}
a:visited{
  color:purple;
}
a:hover{
  color: blue;
}
.navigation id="links"
{
  text-align: center;
}
footer
{ 
	text-align: center; 
}